Package: deb-simple
Version: <VERSION>
Source: deb-simple
Section: misc
Priority: optional
Architecture: amd64
Depends: 
Maintainer: esell <esell@esheavyindustries.com>
Description: A bare-bones APT server
 A lightweight, bare-bones apt repository server
